{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form action="/login"  method="post" class="formula">
            <table style="" align="center">
                <tr>
                    <td>
                        <label for="" class="label-body">nickname</label>
                    </td>
                    <td>
                        <input name="nickname" type="text" class="noteinput" placeholder="nickname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">password</label>
                    </td>
                    <td>
                        <input  name="password" type="password" class="noteinput" placeholder="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="button button-primary">login</button>
                    </td>
                    <td>
                        <a href="/register"  class="button">create a new account</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}